# IDE and System Files
.idea/
*.iml
.gradle/
.DS_Store

# Android / Local Configs
local.properties
/build
/captures
.externalNativeBuild
.cxx

# Secrets & Binaries (Strictly Ignored)
lock
keystore_base64.txt
*.apk
app/build/