<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Базовые разрешения -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission
        android:name="android.permission.USE_FULL_SCREEN_INTENT"
        tools:ignore="FullScreenIntent" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.USE_EXACT_ALARM"
        tools:ignore="UseExactAlarm" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesDecl" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PureClock"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PureClock">

        <!-- Главное окно -->
        <activity
            android:name=".MainActivity"
            android:configChanges="assetsPaths|keyboardHidden|orientation|screenSize"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PureClock"
            tools:ignore="DiscouragedOrientationLocked,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Псевдоним и фильтр для статус-бара OriginOS и вызова системного будильника -->
        <activity-alias
            android:name=".MainActivityAliasDefault"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="PureClock"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SHOW_ALARMS" />
                <action android:name="android.intent.action.SET_ALARM" />
                <action android:name="android.intent.action.SHOW_TIMERS" />
                <action android:name="android.intent.action.SET_TIMER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <!-- Редактор виджетов -->
        <activity
            android:name=".widget.WidgetConfigActivity"
            android:directBootAware="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PureClock"
            tools:ignore="DiscouragedOrientationLocked,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Экран срабатывания будильника поверх заблокированного экрана -->
        <activity
            android:name=".alarm.AlarmAlertActivity"
            android:configChanges="mcc|mnc|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize"
            android:directBootAware="true"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            tools:ignore="DiscouragedOrientationLocked,LockedOrientationActivity" />

        <!-- Фоновые службы с поддержкой DirectBoot -->
        <service
            android:name=".alarm.AlarmService"
            android:directBootAware="true"
            android:exported="false"
            android:foregroundServiceType="specialUse|mediaPlayback" />
        <service
            android:name=".alarm.TimerService"
            android:directBootAware="true"
            android:exported="false"
            android:foregroundServiceType="specialUse|mediaPlayback" />

        <property
            android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
            android:value="Alarm Clock Notification Service" />

        <!-- Приемник тиков времени -->
        <receiver
            android:name=".alarm.AlarmReceiver"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="com.necromagik.pureclock.ACTION_UPDATE_LIVE_ICON" />
            </intent-filter>
        </receiver>

        <!-- Высокоприоритетный ресивер автозапуска и инициализации -->
        <receiver
            android:name=".alarm.BootReceiver"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".alarm.TimerReceiver"
            android:directBootAware="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.necromagik.pureclock.ACTION_TIMER_ALARM" />
            </intent-filter>
        </receiver>

        <!-- Виджет -->
        <receiver
            android:name=".widget.PureClockWidgetProvider"
            android:directBootAware="true"
            android:exported="true"
            android:label="PureClock: Конструктор Виджета">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.TIME_TICK" />
                <action android:name="com.necromagik.pureclock.ACTION_WIDGET_UPDATE_TICK" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/pureclock_widget_info" />
        </receiver>

    </application>
</manifest>